<header>
  <nav id=nav>
    <ul id=nav_li>
      <li class="nav_li_item">
        <a href="/">홈</a>
      </li>
      <li class="nav_li_item">
        <a href="/item">상품</a>
      </li>
      <li class="nav_li_item">
        <a href="/cart">카트</a>
      </li>
      <li class="nav_li_item">
        <a href="/user">로그인</a>
      </li>
    </ul>
  </nav>
</header>