header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#nav_li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.nav_li_item {
  list-style-type: none;
}
.nav_li_item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
